.wrapper {
  padding: 1.5rem;
  height: 100%;
}

.header {
  grid-area: h;
}

.container {
  grid-area: c;
}

.footer {
  grid-area: f;
}

.main {
  display: grid;
  padding: 1rem;
  grid-template-rows: 50px auto 50px;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template-areas: 
    "h h h h h h h h h h h h" 
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f";
  background-color: honeydew;
  height: 100%;
  border-radius: 0.21rem;
}

      
