.visit {
  border: 0.15rem solid rgb(60, 114, 114);
  border-radius: 0.21rem;
  padding: 0.5rem;
}

.visit-header {
  display: flex;
  flex-direction: column;
  border-bottom: 0.05rem solid rgb(33, 53, 53);
  margin-bottom: 1rem;
}

.visit-header span:first-of-type {
  font-size: 12pt;
  
}

.visit-header span:last-of-type {
  margin-top: 0.3rem;
  font-size: 9pt;
  font-weight: 700;
  align-self: flex-end;
  margin-bottom: -0.21rem;
}

.visit ul {
  margin-top: 1rem;
}

.visit ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 9pt;
}