* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, 
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 10pt;
  background-color: darkslategray;
  min-height: 100vh;
  color: rgb(33, 53, 53);
}